<a href="https://colab.research.google.com/github/DavidSentasas/CpE0332.1-1-Elective-3/blob/main/Loop_Statement.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Example 1

In [ ]:
week = ["Sunday", "Monday", "Tuesday", "Wednesday", "Thursday", "Friday", "Saturday"]
for x in week:
  print(x)

Sunday
Monday
Tuesday
Wednesday
Thursday
Friday
Saturday

Example 2 (The Break Statement)

In [ ]:
week = ["Sunday", "Monday", "Tuesday", "Wednesday", "Thursday", "Friday", "Saturday"]
for x in week:
  print(x)
  if x == "Thursday":
    break

Sunday
Monday
Tuesday
Wednesday
Thursday

Example 3

In [ ]:
week = ["Sunday", "Monday", "Tuesday", "Wednesday", "Thursday", "Friday", "Saturday"]
for x in week:
  if x == "Thursday":
    break
  print(x)

Sunday
Monday
Tuesday
Wednesday

Example 4 (Looping through a string)

In [ ]:
for x in "week":
  print(x)

w
e
e
k

Example 5 (Application 3): Print thursday only

In [ ]:
week = ["Sunday", "Monday", "Tuesday", "Wednesday", "Thursday", "Friday", "Saturday"]
for x in week:
  if x == "Thursday":
    print(x)
    break

Thursday

The range() Function

In [ ]:
for x in range(6):
  print(x)
for x in range(2,6):
  print(x)
for x in range(2,6,2):
  print(x)

0
1
2
3
4
5
2
3
4
5
2
4

Nested Loops

In [ ]:
adjective=["red","big","tasty"]
fruits=["apple","banana","cherry"]
for x in adjective:
  for y in fruits:
    print(x,y)

red apple
red banana
red cherry
big apple
big banana
big cherry
tasty apple
tasty banana
tasty cherry

While Loops

In [ ]:
i = 1
while i<6:
  print(i)
  i+=1 # i = i+1 Assignment Operator

1
2
3
4
5

The Break Statement

In [ ]:
i = 1
while i<6:
  print(i)
  if i == 3:
    break
  i+=1

1
2
3

The Continue Statement

In [ ]:
i = 0
while i < 6:
  i += 1
  if i == 3:
    continue # With the continue statement we can stop the current iteration, and continue with the next
  print(i)

1
2
4
5
6

The else Statement

In [ ]:
i=1
while i<6:
  print(i)
  i+=1
else:
  print("i is no longer less than 6")

1
2
3
4
5
i is no longer less than 6

Let's try!

In [ ]:
i = 0
while i < 11:
  print("Hello", i)
  i+=1

Hello 0
Hello 1
Hello 2
Hello 3
Hello 4
Hello 5
Hello 6
Hello 7
Hello 8
Hello 9
Hello 10

Let's try

In [ ]:
for i in range(3,10):
  print(i)

3
4
5
6
7
8
9