<a href="https://colab.research.google.com/github/DavidSentasas/CpE0332.1-1-Elective-3/blob/main/Python_Fundamentals.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Python Indentation

In [29]:
x = 3
y = 2
if x > y:
  print("Five is greater than two.")

Five is greater than two.

Python Comments

In [ ]:
print("Hello World") #This is a Python comment

Python Variable

In [10]:
z = 1
z,s = 0,-1
z,s,t=8,9,10
print(z)
print(s)
print(t)

8
9
10

Casting

In [13]:
b = "Sally" #This is a string
b = int(4)
print(b)
b = float(4)
print(b)

4
4.0

Type() function

In [14]:
print(type(b))

<class 'float'>

Double Quotes and Single Quotes

In [16]:
w = "Ana"
print(w)
q = 'Ana'
print(q)

Ana
Ana

Case Sensitivity

In [17]:
a = int(4)
A = 'Sally'
print(a)
print(A)

4
Sally

Multiple Variables

In [23]:
h,i,j = "one", "two", "three"
print(h)
print(i)
print(j)

one
two
three

Multiple Variables with Single Value

In [22]:
k = l = m = "four"
print(k)
print(l)
print(m)

four
four
four

Output Variable and Concatenation

In [27]:
n = "enjoying"
p = "Python programming is "
print(p + n)

Python programming is enjoying

Arithmetic Operations

In [32]:
print(x+y) #Addition
print(x-y) #Subraction
print(x*y) #Multiplication
print(x/y) #Division
print(x**y) #Exponentiation
print(x//y) #Floor Division
print(x%y) #Modulus

5
1
6
1.5
9
1
1

Assignment Operator

In [33]:
x+=3 #same as x = x+3
print(x)

6

Comparison Operator

In [35]:
print(x==y)
print(x!=y)
print(x>y)
print(x<y)

False
True
True
False

Logical Operator

In [37]:
print(x==y and x!=y) #False and True
print(x==y or x!=y) #False or True
print(not(x==y or x!=y)) #Negate(False or True)

False
True
False

Identity Operators

In [41]:
print (x is y) #x=3, y=2
print (x is not y)

False
True

Bitwise Operator

In [43]:
# 10 + 1 = 11 ; 1010 + 0001 = 1011
print(10|1)
print(x>>1)

11
3

Create a Python Program that displays your full name, age, and course and section

In [53]:
first_name = "David Bryan "
middle_initial = "L. "
last_name = "Sentasas"
_age = 19 #Applying legal variable naming scheme
_age = int(20) # Applying casting
course_and_section = "CPE 0332.1-1 - Elective 3 (Lab)"
print (first_name + middle_initial + last_name) #Applying string concatenation
print ("I am", _age, "years old.") #Applying printing variables and text
print (course_and_section)

David Bryan L. Sentasas
I am 20 years old.
CPE 0332.1-1 - Elective 3 (Lab)